{% extends 'base.html.twig' %}

{% block title %} {{movie.pavadinimas}} {% endblock  %} 

{% block navigation %}
<nav class="navigation">
            <h1 class="web-name">Filmų pardavimų svetainė</h1>
            <ul class="items">
                <li class="item"><a class="link-item selected" href={{ url('movies', schemeRelative = false) }}>Filmų sąrašas</a></li>
                <li class="item"><a class="link-item" href={{ url('buyers', schemeRelative = false) }}>Pirkėjai</a></li>
                <li class="item"><a class="link-item" href={{ url('orders', schemeRelative = false) }}>Užsakymai</a></li>
                <li class="item"><a class="link-item" href={{ url('actors', schemeRelative = false) }}>Aktoriai</a></li>
                <li class="item"><a class="link-item" href={{ url('performances', schemeRelative = false) }}>Vaidinimai</a></li>
                <li class="item"><a class="link-item" href={{ url('moviesList', schemeRelative = false) }}>Filmai</a></li>
                <li class="item"><a class="link-item" href={{ url('about-us', schemeRelative = false) }}>Apie mus</a></li>
                <li class="item"><a class="link-item" href={{ path('contacts', relative = false) }}>Kontaktai</a></li>
            </ul>
            <div class="burger">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </div>
</nav>
{% endblock %} 

{% block body %}
    <h1 class='title'>{{movie.pavadinimas}}</h1>
    <div class='about-movie'>
        <div class='img-div'>
        <img src="/php-darbai/filmuSvetaine/public/{{movie.paveikslelis}}" class='movie-image'>
        </div>
        <div class = 'movie-info'>
            <a class = 'button button-purchase' href = {{ url('shoppingCard', {'id': movie.id}, schemeRelative = false) }}>Į krepšelį</a>
            <p class='center movie-item'>imdb: {{movie.imdb}}</p>
            <p class='center movie-item'>metai: {{movie.metai}}</p>
            <p class='center movie-item'>žanras: {{movie.zanras}}</p>
            <p class='center movie-item'>kaina: {{movie.kaina}}$</p>
            <h3> Aktoriai:</h3>
            <ul>
                {% for aktorius in aktoriai %}
                    <li class='center movie-item'>{{aktorius.vardas}} {{aktorius.pavarde}}</li>
                {% endfor %}
            </ul>
        </div>
           
    </div>

{% endblock %}

{% block javascripts %} 
<script src={{asset('js/scipt-style.js')}}></script> 
{% endblock %} 