{% extends 'base.html.twig' %}

{% block title %}Pirkėjai{% endblock %}

{% block navigation %}
<nav class="navigation">
            <h1 class="web-name">Filmų pardavimų svetainė</h1>
            <ul class="items">
                <li class="item"><a class="link-item" href={{ url('movies', schemeRelative = false) }}>Filmų sąrašas</a></li>
                <li class="item"><a class="link-item selected" href={{ url('buyers', schemeRelative = false) }}>Pirkėjai</a></li>
                <li class="item"><a class="link-item" href={{ url('orders', schemeRelative = false) }}>Užsakymai</a></li>
                <li class="item"><a class="link-item" href={{ url('actors', schemeRelative = false) }}>Aktoriai</a></li>
                <li class="item"><a class="link-item" href={{ url('performances', schemeRelative = false) }}>Vaidinimai</a></li>
                <li class="item"><a class="link-item" href={{ url('moviesList', schemeRelative = false) }}>Filmai</a></li>
                <li class="item"><a class="link-item" href={{ url('about-us', schemeRelative = false) }}>Apie mus</a></li>
                <li class="item"><a class="link-item" href={{ path('contacts', relative = false) }}>Kontaktai</a></li>
                
            </ul>
            <div class="burger">
                <div class="burger-line"></div>
                <div class="burger-line"></div>
                <div class="burger-line"></div>
            </div>

            <a href = {{ url('insertBuyer', schemeRelative = false) }} class='button button-insert'>Pridėti naują pirkėją</a>
</nav>
{% endblock %} 

{% block body %}

        <h1 class='title'>Pirkėjų sąrašas</h1>
        <table>
            <thead>
                <tr>
                    <td>Vardas</td>
                    <td>Pavardė</td>
                    <td>Telefono numeris</td>
                    <td>Elektroninis paštas</td>
                    <td>Adresas</td>
                    <td></td>
                    <td></td>
                </tr>
            <thead>

            <tbody>

                {% for pirkejas in pirkejai %}
                    <tr>
                        <td>{{pirkejas.vardas}}</td>
                        <td>{{pirkejas.pavarde}}</td>
                        <td class='number'>{{pirkejas.telNr}}</td>
                        <td>{{pirkejas.elPastas}}</td>
                        <td>{{pirkejas.adresas}}</td>
                        <td><a href = {{ url('editBuyer', {'id': pirkejas.id}, schemeRelative = false) }} class='button button-alert'>Redaguoti</a></td>
                        <td><a href = {{ url('deleteBuyer', {'id': pirkejas.id}, schemeRelative = false) }} class='button button-danger'>Ištrinti</a></td>
                    </tr>
                {% endfor %}

            <tbody>

        </table>

        {{ knp_pagination_render(pirkejai) }}

{% endblock %}

{% block javascripts %} 
<script src={{asset('js/scipt-style.js')}}></script> 
{% endblock %} 